node_modules/
dist/
.env
.env.*
!.env.example
*.tsbuildinfo
.vercel
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
*.suo
*.sw?
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.pem
